.navbar { 
    margin-bottom: 40px;
    padding-left: 80px;
    height: 70px; 
    align-items: center;
}

a, h1, h2, h3, h4, h5, h6, p {
        font-family: Verdana, Tahoma, Geneva, sans-serif !important;
    }

html, body {
    margin: 0 !important;
    padding: 0 !important;
}

.navbar form {
    margin-top: 0; 
    margin-bottom: 0;
    padding-right: 20px;
    
    display: flex;
    align-items: center; 
    gap: 10px;
}

.navbar form input {
    margin-top: 0; 
    margin-bottom: 0;
    padding-right: 20px;
    
    display: flex;
    align-items: center; 
    gap: 10px;
}

.navbar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 500px;
}

.navbar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.navbar button:hover {
    background-color: #0056b3;
}