.admin-tools-container {
    display: flex;
    gap: 30px;
}

.admin-tool-card {
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.alert {
    padding: 10px;
    border: 1px solid;
    margin-bottom: 15px;
}

.admin-alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.admin-alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.file-input {
    margin-bottom: 10px;
}

.button {
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.primary-button {
    background-color: #007bff;
}

.success-button {
    background-color: #28a745;
}

.danger-button {
    background-color: #ee6565; 
}

.sentence-list-divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.sentence-list {
    list-style-type: disc;
    padding-left: 20px;
}

.sentence-item {
    margin-bottom: 15px; 
    display: flex;
    align-items: flex-start;
    padding-right: 20px;
}

.delete-form {
    flex-shrink: 0;
    margin-right: 10px;
}

.sentence-text {
    flex-grow: 1; 
    align-self: center;
}

.small-delete-button {
    background-color: #e74c3c;
    color: white;
    border: 1px solid #c0392b;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}